registry=https://npm.pkg.github.com/kidwen
@kidwen:registry=https://npm.pkg.github.com
@kidwen:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=e339ad955c9ea26a0f6d311615785dea26c565ed