:host(app-home) {
    ion-header {
        ion-toolbar {
            ion-buttons {
                ion-icon {
                    font-size: 2rem;
                }
            }
        }

        ion-segment {
            ion-segment-button {
                color: black;
                font-size: smaller;
                --background: #ffffff;
                --background-checked: #ffffff;

                ::ng-deep .segment-button-checked {
                    font-family: cursive;
                    font-size: larger;
                }
            }
        }
    }
}