:host(app-home) {
    ion-header {
        ion-toolbar {
            ion-buttons {
                ion-icon {
                    font-size: 2rem;
                }
            }
        }

        ion-segment {
            ion-segment-button {
                color: var(--ion-color-warning-contrast);
                font-size: smaller;
                --background: var(--ion-color-primary-contrast);
                --background-checked: var(--ion-color-primary-contrast);

                ::ng-deep .segment-button-checked {
                    font-family: cursive;
                    font-size: larger;
                }
            }
        }
    }
}
