<ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-icon name="tv-outline"></ion-icon>
        </ion-buttons>
        <ion-searchbar [placeholder]="realTimeHotspot" [searchIcon]="'search-outline'"></ion-searchbar>
        <ion-buttons slot="end">
            <ion-icon name="add-circle-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
    <ion-segment [color]="'Light'" value="recommend">
        <ion-segment-button value="watching">关注</ion-segment-button>
        <ion-segment-button value="recommend">推荐</ion-segment-button>
        <ion-segment-button value="hotBot">热搜</ion-segment-button>
        <ion-segment-button value="hotBot">高考</ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>
    <app-recommend></app-recommend>
</ion-content>
<ion-footer>
</ion-footer>