<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-icon name="tv-outline"></ion-icon>
        </ion-buttons>
        <ion-searchbar [placeholder]="realTimeHotspot" [searchIcon]="'search-outline'"></ion-searchbar>
        <ion-buttons slot="end">
            <ion-icon name="add-circle-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
    <ion-segment [color]="'Light'" value="recommend">
        <ion-segment-button value="watching">关注</ion-segment-button>
        <ion-segment-button value="recommend">推荐</ion-segment-button>
        <ion-segment-button value="hotBot">热搜</ion-segment-button>
        <ion-segment-button value="hotBot">高考</ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>
    <app-recommend></app-recommend>
</ion-content> -->
<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="newspaper-outline"></ion-icon>
            <ion-label>首页</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="vip">
            <ion-icon name="triangle"></ion-icon>
            <ion-label>会员</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="found">
            <ion-icon name="triangle"></ion-icon>
            <ion-label>发现</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="message">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>消息</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="my">
            <ion-icon name="color-palette-outline"></ion-icon>
            <ion-label>我的home</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
