:host {
    ion-card {
        ion-card-header {
            ion-card-title {
                font-size: 1.1rem;
            }

            .ui-miscellaneous {
                display: flex;

                ion-icon {
                    margin: auto 0;
                }
            }
        }
    }
}
