<ion-footer>
    <ion-item lines="none">
        <ion-avatar>
            <img [src]="avatar">
        </ion-avatar>
        <ion-label>{{ name }}</ion-label>
        <ion-buttons slot="end">

            <app-progress [percent]="percent" type="circle" [showInfo]="false" [width]="32" [strokeColor]="strokeColor"
                (click)="playOrStop();">
                <ion-icon *ngIf="!playStatus" name="caret-forward-outline"></ion-icon>
                <ion-icon *ngIf="playStatus" name="pause-outline"></ion-icon>
            </app-progress>
        </ion-buttons>
    </ion-item>
</ion-footer>
