<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            喜闻乐见
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-progress [percent]="percent" type="circle" [showInfo]="false" [width]="32" [statusColorMap]="statusColorMap"
        [strokeColor]="strokeColor">
        <ion-icon name="caret-forward-outline"></ion-icon>
    </app-progress>
    <ng-container *ngFor="let channel of channels">
        <ion-item button (click)="itemClick(channel);">
            <ion-label class=" ion-text-wrap">
                {{channel.type_name}}
            </ion-label>
        </ion-item>
    </ng-container>
</ion-content>
