<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [icon]="'chevron-back-outline'"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ng-container *ngFor="let audio of audioList">
        <ion-item button (click)="itemClick(audio);">
            <ion-label class=" ion-text-wrap">
                {{audio.model_name}}
            </ion-label>
        </ion-item>
    </ng-container>
</ion-content>
